################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lendtick.Product/.vs/Lendtick.Product
/Lendtick.Product/Lendtick.Product.API.Core/obj
/Lendtick.Product/Lendtick.Product.Business/obj
/Lendtick.Product/Lendtick.Product.Business/bin/Debug/netcoreapp2.1
/Lendtick.Product/Lendtick.Product.Common/obj
/Lendtick.Product/Lendtick.Product.Common/bin/Debug/netcoreapp2.1
/Lendtick.Product/Lendtick.Product.Data/obj
/Lendtick.Product/Lendtick.Product.Data/bin/Debug/netcoreapp2.1
/Lendtick.Product/Lentick.Product.xUnit/obj
/Lendtick.Product/Lentick.Product.xUnit/bin/Debug/netcoreapp2.1
/Lendtick.Product/Lendtick.Product.API.Core/bin/Debug/netcoreapp2.1
/Lendtick.Product/.vs/config
/Lendtick.Product/Lendtick.Product.API.Core/bin/Release/netcoreapp2.1
/Lendtick.Product/Lendtick.Product.Business/bin/Release/netcoreapp2.1
/Lendtick.Product/Lendtick.Product.Common/bin/Release/netcoreapp2.1
/Lendtick.Product/Lendtick.Product.Data/bin/Release/netcoreapp2.1
/Lendtick.Product/Lendtick.Product.API.Core/Properties/PublishProfiles
/Lendtick.Product/Lentick.Product.xUnit/bin/Debug/netcoreapp2.2
/Lendtick.Product/Lendtick.Product.Data/bin/Debug/netcoreapp2.2
/Lendtick.Product/Lendtick.Product.Common/bin/Debug/netcoreapp2.2
/Lendtick.Product/Lendtick.Product.Business/bin/Debug/netcoreapp2.2
/Lendtick.Product/Lendtick.Product.API.Core/bin/Debug/netcoreapp2.2
